@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap');

body {
    font-family: "Kaisei Decol", serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    overflow-x: hidden; 
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 1rem;
    font-weight: bold;
}

header nav a {
    margin: 0 15px;
    font-size: 1em;
}

header .sign-in-btn {
    background-color: grey;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Main Content */
.main-content {
    padding: 120px;
    background-color: white;
}

/* Welcome Section */
.welcomeSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;
    padding: 2rem;
    text-align: left;
}

.welcomeContent {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.welcomeText {
    max-width: 600px;
}

.welcomeText h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
}

.welcomeText p {
    font-size: 1rem;
    color: var(--blackColour);
    line-height: 1.5;
    margin-bottom: 2rem;
}

.welcomeImage img {
    width: 100%;
    max-width: 500px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btnn {
    padding: 10px 30px;
    margin: 10px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

.btnn-primary {
    background-color: #ea6c46;
    color: white;
}

.btnn-primary:hover {
    background-color: #ea5731;
}

.btnn-secondary {
    background-color: #969a9e;
    color: white;
}

.btnn-secondary:hover {
    background-color: #6C757D;
}

/* Sections */
.section {
    margin-bottom: 50px;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.destinationSection {
    margin-top: 2.6rem;
}

.sectionTitle {
    margin-top: 2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.countryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    justify-content: center;
}

.countryItem {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.countryItem img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.countryItem p {
    margin-top: 0.1rem;
    font-size: 0.9rem;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

.countryItem:hover {
    transform: translateY(-5px); 
}

.countryImageContainer {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heartIcon {
    position: absolute;
    top: 8px; 
    right: 8px; 
    font-size: 1.5rem;
    stroke-width: 2px;
    color: #d3d3d3; 
    cursor: pointer;
    opacity: 0.7; 
    transition: transform 0.2s ease, color 0.2s ease, opacity 0.2s ease; 
}

.heartIcon:hover {
    transform: scale(1.3); 
}

.heartIcon.liked {
    color: white;
    opacity: 1; 
    transform: scale(1.1); 
}

/* Reviews */
.reviews {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 40px;
}

.sectionTitle {
    text-align: left;
    margin-bottom: 20px;
    color: black;
}

.review-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.review-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.review-card:hover {
    transform: translateY(-5px);
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-title {
    font-size: 1.1em;
    color: black;
}

.review-text {
    color: #666;
    line-height: 1.4;
    margin-bottom: 15px;
}

.stars {
    color: #FFD700;
    font-size: 1.2em;
}

/* Review Form */
.review-form {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.review-form h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.btnn {
    padding: 10px 30px;
    margin: 10px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}

.btnn-primary {
    background-color: #ea6c46;
    color: white;
}

.btnn-primary:hover {
    background-color: #ea5731;
}

.starss {
    color: #FFD700;
    font-size: 1.8em;
}

.time {
    color: #999;
    font-size: 0.9em;
}
.hotelModal {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    background: white;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    z-index: 1000;
    overflow: hidden;
}

.modalContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.imageSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imageSection img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.imageSection h2 {
    margin: 0;
    font-size: 20px;
    text-align: left;
    margin-left: 1px;
}

.details {
    flex: 1;
    margin-left: 20px;
}

.details .taxes {
    font-size: 0.75rem;
    color: var(--textColour);
}

.details .price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 1px;
    margin-top: 20px;
}

.details .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details .info p {
    margin: 4px 0;
    font-size: 0.9rem;
}

.booking-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.booking-option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.booking-option label {
    font-weight: bold;
    margin-bottom: 5px;
}

.booking-option input,
.booking-option select {
    width: 240px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.room-options {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.room-option {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.room-option input[type="radio"] {
    margin-right: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

.actions .closeButton {
    background: #ddd;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.actions .closeButton:hover {
    background: #ccc;
}

.actions .bookButton {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.actions .bookButton:hover {
    background: #0056b3;
}

.dealButton {
    background: #23841b;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    transition: background 0.3s;
    margin-top: 5px;
}

.info-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.info-item.small-green {
    font-size: 0.8rem;
    color: green;
}


/* Footer Styles */
.footer {
    border-top: 1px solid #ccc; 
}

.footerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    flex-wrap: wrap;
}

.footerSection {
    flex: 1;
    min-width: 150px;
    padding: 1rem;
}

.footerSection h4 {
    font-size: 1.1rem;
    color: var(--PrimaryColour);
    margin-bottom: 1rem;
}

.footerSection ul {
    list-style: none;
    padding: 0;
}

.footerSection li {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: var(--textColour);
}

.footerSection li:hover{
    cursor: pointer;
}

.footerSection p {
    font-size: 1rem;
    color: var(--blackColour);
}

.footerSection p:hover{
    cursor: pointer;
}

// en and fr buttons
.language-switcher {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
}

.language-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 1px 3px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.language-button:hover {
  background-color: #e0e0e0;
}

.language-button.active {
  background-color: #ea6c46;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footerContent {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .packageGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .packageGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .packageGrid {
        grid-template-columns: 1fr;
    }
}