:root{
    --PrimaryColour: #2C476E;
    --SecondaryColour: #132C46;
    --gradientColour: linear-gradient(to right, #2C476E, #132C46);
    --whiteColour: hsl(0, 0%, 100%);
    --blackColour: #000000;
    --textColour: hsl(24, 4%, 36%);
    --whiteColourDeam: hsl(0, 0%, 93%);
    --greyText: #9F9F9F;
    --inputColour: rgb(239, 239, 239);
    --bodyColour: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 225);
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--whiteColour);
    width: 100%;
    padding: 1rem 2rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);

    .logo{
        color: var(--PrimaryColour);
        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon{
            font-size: 25px;
            color: var(--PrimaryColour);
            transform: translateY(5px);
        }
    }

    .navBar{
        display: flex;
        align-items: center;
        justify-content: center;

        .navLists{
            display: flex;
            align-items: center;
            justify-content: center;

            .navItem{
                .navLink{
                    color: var(--textColour);
                    padding: 0 1rem;
                    font-size: 0.9rem;
                    font-weight: 500;

                    &:hover{
                        color: var(--PrimaryColour);
                    }
                }
            }

            .btn{
                margin-left: 1rem;

                a{
                    font-weight: 600;
                    color: var(--whiteColour);
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;

                    &:hover{
                        background-color: var(--SecondaryColour);
                    }
                }
            }
        }
    }

    .toggleNavbar{
        display: none;

        .icon{
            font-size: 25px;
            color: var(--PrimaryColour);
        }
        &:hover .icon{
            color: var(--SecondaryColour);
        }
    }
}

@media screen and (min-width: 769px) {
    .toggleNavbar,.closeNavbar{
        display: none;
    }

    .header{
        padding: 1.5rem 2rem;

        .navBar{
            .navLists{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                .navItem{
                    .navLink{
                        color: var(--bla);
                        padding: 0 0.45rem;
                        font-size: 0.9rem;
                        font-weight: 500;

                        &:hover{
                            color: var(--PrimaryColour);
                        }
                    }
                }

                .btn{
                    margin-left: 1rem;

                    a{
                        font-weight: 600;
                        color: var(--whiteColour);
                        padding: 0.5rem 0rem;
                        border-radius: 0.5rem;

                        &:hover{
                            background-color: var(--SecondaryColour);
                        }

                    }
                }

                .btn{
                    margin-left: 1rem;
                    a{
                        color: var(--whiteColour);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .header{
        .navBar{
            .navLists{
                .navItem{
                    padding: 0 0.7rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1240px) {
    .header{
        padding: 1rem 8.5rem;
    }
}