// Root variables
:root {
    --PrimaryColour: #2C476E;
    --SecondaryColour: #132C46;
    --gradientColour: linear-gradient(to right, #2C476E, #132C46);
    --whiteColour: hsl(0, 0%, 100%);
    --blackColour: #000000;
    --textColour: hsl(24, 4%, 36%);
    --whiteColourDeam: hsl(0, 0%, 93%);
    --greyText: #9F9F9F;
    --inputColour: rgb(239, 239, 239);
    --bodyColour: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 225);
}

// Main section styles
.main {
    padding: 2rem 1rem 0; /* Adjusted padding to reduce top gap */
}

.secTitle .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.infoSection {
    margin-top: -6rem; 
    text-align: center;
}

.infoHeader {
    font-size: 1.5rem; 
    margin-bottom: 2rem;
    color: var(--PrimaryColour); 
}

.infoContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.infoItem {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.infoIcon {
    font-size: 1.6rem;
    color: #6F87A9;
    margin-bottom: 0.5rem; /* Adjust margin as needed */
}

.infoItem h3 {
    font-size: 1rem; /* Adjusted font size */
    margin-bottom: 0.5rem;
    color: var(--blackColour); /* Set primary color */
}

.infoItem p {
    font-size: 0.85rem; /* Adjusted font size */
    color: var(--textColour); /* Use text color variable */
}

@media screen and (min-width: 768px) {
    .infoContent {
        flex-direction: row;
        justify-content: space-around;
    }

    .infoItem {
        width: 30%;
    }
}

.destinationSection {
    margin-top: 2.6rem;
}

.sectionTitle {
    margin-top: 2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.countryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    justify-content: center;
}

.countryItem img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.countryItem p {
    margin-top: 0.1rem;
    font-size: 0.9rem;
    color: var(--blackColour);
    font-weight: 500;
}

.countryItem {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.countryItem:hover {
    transform: translateY(-5px); /* Example of a lift animation on hover */
}

.countryImageContainer {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heartIcon {
    position: absolute;
    top: 8px; /* Adjust position as needed */
    right: 8px; /* Adjust position as needed */
    font-size: 1.5rem;
    stroke-width: 2px;
    color: #d3d3d3; /* Heart outline color */
    cursor: pointer;
    opacity: 0.7; /* Adjust opacity as needed */
    transition: transform 0.2s ease, color 0.2s ease, opacity 0.2s ease; /* Added transform and opacity transition */
}

.heartIcon:hover {
    transform: scale(1.3); /* Example of scale animation on hover */
}

.heartIcon.liked {
    color: white;
    opacity: 1; /* Fully opaque when liked */
    transform: scale(1.1); /* Example of scale animation when liked */
}

.travelPackagesSection {
    margin-top: 50px;
}

.travelPackageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.packageItem {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.packageItem img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.packageItem h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.packageItem p {
    margin: 5px 0;
}

.packageItem button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.packageItem button:hover {
    background-color: #0056b3;
}
